<footer class="extras">

    <section class="social-links">
        <h4>Find Us On</h4>
        <ul>
            <li><a href="http://www.flickr.com/photos/ydn" class="social-icon-flickr"><span>Flickr</span></a></li>
            <li><a href="https://www.facebook.com/yahoodevelopernetwork" class="social-icon-facebook"><span>Facebook</span></a></li>
            <li><a href="http://yahooeng.tumblr.com" class="social-icon-tumblr"><span>Tumblr</span></a></li>
            <li><a href="https://twitter.com/ydn" class="social-icon-twitter"><span>Twitter</span></a></li>
            <li><a href="http://yahoo.com" class="social-icon-website"><span>Website</span></a></li>
        </ul>
    </section>

    <section class="bottom">
        <ul>
            <li class="copyright">&copy; Copyright 2014. Yahoo! - All Rights Reserved.</li>
            <li class="credit">Based on <a href="http://yahoo.tumblr.com" window="_blank">Yahoo Theme</a> created by <a href="http://stylehatch.co" window="_blank">Style Hatch</a></li>
        </ul>
    </section>

</footer>

