<header class="top">
    <div class="contain skrollable skrollable-between" data-0="padding-bottom[sqrt]: 150px; top[sqrt]: 0px;" data-375="padding-bottom[sqrt]: 0px; top[sqrt]: 100px;">
        <section class="description">
            <h1 data-0="opacity: 1;" data-220="opacity: 0;"><a href="/"><img src="images/logo.png" alt="{Title}" /></a></h1>
            <p data-0="color: rgba(255,255,255,1); margin-top[sqrt]:15px;" data-220="color: rgba(255,255,255,0); margin-top[sqrt]:10px;">Code</p>
        </section>
    </div>
    <div class="cover-image" data-0="opacity[sqrt]: 1;" data-200="opacity[sqrt]: 0;"></div>
    <div class="blurred-cover-image"></div>

</header>


