<nav class="primary">
    <div class="contain">

        <a href="/" class="logo-sm"><img src="images/logo-small.png" alt="{Title}"></a>

        <div class="dropdown">
            <ul id="filters" class="pages">
            </ul>
            <ul class="util">
                {% if page.url contains "codeofconduct.html" %}
                  <li class="archive"><a href="../">Home</a></li>
                {% endif %} 
                <li class="archive"><a href="https://careers.yahoo.com/us/buildyourcareer">Work With Us</a></li>
                <li class="archive"><a href="/codeofconduct.html">Code of Conduct</a></li>
            </ul>
        </div>
    </div>
</nav>


