    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Language Text Colors 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .color-arduino { color: #bd79d1; }
    .color-java { color: #b07219; }
    .color-vhdl { color: #543978; }
    .color-scala { color: #7dd3b0; }
    .color-emacs-lisp { color: #c065db; }
    .color-delphi { color: #b0ce4e; }
    .color-ada { color: #02f88c; }
    .color-viml { color: #199c4b; }
    .color-perl { color: #0298c3; }
    .color-lua { color: #fa1fa1; }
    .color-rebol { color: #358a5b; }
    .color-verilog { color: #848bf3; }
    .color-factor { color: #636746; }
    .color-ioke { color: #078193; }
    .color-r { color: #198ce7; }
    .color-erlang { color: #949e0e; }
    .color-nu { color: #c9df40; }
    .color-autohotkey { color: #6594b9; }
    .color-clojure { color: #db5855; }
    .color-shell { color: #5861ce; }
    .color-assembly { color: #a67219; }
    .color-parrot { color: #f3ca0a; }
    .color-csharp { color: #5a25a2; }
    .color-turing { color: #45f715; }
    .color-applescript { color: #3581ba; }
    .color-eiffel { color: #946d57; }
    .color-common-lisp { color: #3fb68b; }
    .color-dart { color: #cccccc; }
    .color-supercollider { color: #46390b; }
    .color-coffeescript { color: #244776; }
    .color-xquery { color: #2700e2; }
    .color-haskell { color: #29b544; }
    .color-racket { color: #ae17ff; }
    .color-elixir { color: #6e4a7e; }
    .color-haxe { color: #346d51; }
    .color-ruby { color: #701516; }
    .color-self { color: #0579aa; }
    .color-fantom { color: #dbded5; }
    .color-groovy { color: #e69f56; }
    .color-c { color: #555; }
    .color-javascript { color: #f15501; }
    .color-d { color: #fcd46d; }
    .color-ooc { color: #b0b77e; }
    .color-cplusplus { color: #f34b7d; }
    .color-dylan { color: #3ebc27; }
    .color-nimrod { color: #37775b; }
    .color-standard ml { color: #dc566d; }
    .color-objective-c { color: #f15501; }
    .color-nemerle { color: #0d3c6e; }
    .color-mirah { color: #c7a938; }
    .color-boo { color: #d4bec1; }
    .color-objective-j { color: #ff0c5a; }
    .color-rust { color: #dea584; }
    .color-prolog { color: #74283c; }
    .color-ecl { color: #8a1267; }
    .color-gosu { color: #82937f; }
    .color-fortran { color: #4d41b1; }
    .color-coldfusion { color: #ed2cd6; }
    .color-ocaml { color: #3be133; }
    .color-fancy { color: #7b9db4; }
    .color-pure-data { color: #f15501; }
    .color-python { color: #3581ba; }
    .color-tcl { color: #e4cc98; }
    .color-arc { color: #ca2afe; }
    .color-puppet { color: #cc5555; }
    .color-io { color: #a9188d; }
    .color-max { color: #ce279c; }
    .color-go { color: #8d04eb; }
    .color-asp { color: #6a40fd; }
    .color-visual-basic { color: #945db7; }
    .color-php { color: #6e03c1; }
    .color-scheme { color: #1e4aec; }
    .color-vala { color: #3581ba; }
    .color-smalltalk { color: #596706; }
    .color-matlab { color: #bb92ac; }
